<h1>Editing Lancamento</h1>

<% if params[:tipo] == "Crédito" %>
    <%= render 'form_credito' %>
<% else %>
    <%= render 'form_debito' %>
<% end %>

<%= link_to 'Mostrar', @lancamento, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', lancamentos_path, class: 'btn btn-default' %>
