<h1>Editando Centro De Custos</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @centro_de_custos, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', centros_de_custos_path, class:'btn btn-default' %>
