<p>
  <strong>Nome:</strong>
  <%= @fonte_de_recursos.nome %>
</p>

<%= link_to 'Editar', edit_fonte_de_recursos_path(@fonte_de_recursos), class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', fontes_de_recursos_path, class: 'btn btn-default'  %>
