<h1>Editando Conta</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @conta, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', contas_path, class:'btn btn-default'  %> |
<%= link_to 'Fazer nova busca', busca_conta_path, class: 'btn btn-success active' %>
