<h1>Editando Tipo De Compras</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @tipo_de_compras, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', tipos_de_compras_path, class: 'btn btn-default' %>
