<p>
  <strong>Nome:</strong>
  <%= @tipo_de_compras.nome %>
</p>

<%= link_to 'Editar', edit_tipo_de_compras_path(@tipo_de_compras), class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', tipos_de_compras_path, class: 'btn btn-default' %>
