<h1>Editando Centro De Custos</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @centro_de_custo, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', centro_de_custo_path, class:'btn btn-default' %>
