<h3> Relatório de gastos por itens de despesa </h3>

<%= form_tag relat_gastos_por_idd_path(format: 'pdf'), method: :get do %>
    A partir de: <%= date_field_tag :inicio %>
    Até: <%= date_field_tag :fim %>
    <p>   <%= submit_tag "Enviar",  class: 'btn btn-primary active' %>  </p>
<% end %>
