<h1>Editando Item De Receita</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @item_de_receita, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', itens_de_receita_path, class:'btn btn-default'  %>
