<h1>Editando Item De Receita</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @item_de_receita, class: 'btn btn-promary active' %> |
<%= link_to 'Back', itens_de_receita_path, class:'btn brn-default'  %>
