<p>
  <strong>Nome:</strong>
  <%= @tipo_de_compra.nome %>
</p>

<%= link_to 'Editar', edit_tipo_de_compra_path(@tipo_de_compra), class: 'btn btn-primary active' if session[:usuario_tipo] != "Controladoria" %>
<%= link_to 'Voltar', tipos_de_compra_path, class: 'btn btn-default' %>
