<script type="text/javascript">

    $('.chosen-select').chosen({
        no_results_text: "Nada encontrado:",
        placeholder_text_single: "Selecione ou digite uma opção",
        search_contains: true,
        width: '450px'
    });

</script>

<h2> Balancete </h2>

<%= form_tag res_balancete_path, method: :get do %>
    Grupo: <%= select_tag :grupo_id, options_for_select(Grupo.where(ativo: true).map{|gr| [gr.nome, gr.id]}), include_blank: true, class: 'chosen-select' %>
    Até: <%= date_field_tag :fim %>
    <p>   <%= submit_tag "Enviar",  class: 'btn btn-primary active' %>  </p>
<% end %>

