<h2> Balancete </h2>

<%= form_tag res_balancete_path(format: 'pdf'), method: :get do %>
    Até: <%= date_field_tag :fim %>
    <p>   <%= submit_tag "Enviar",  class: 'btn btn-primary active' %>  </p>
<% end %>

