<h1>Editando Fontes De Recurso</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @fonte_de_recurso, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', fontes_de_recurso_path, class: 'btn btn-default' %>
