<p>
  <strong>Nome:</strong>
  <%= @fonte_de_recurso.nome %>
</p>

<%= link_to 'Editar', edit_fonte_de_recurso_path(@fonte_de_recurso), class: 'btn btn-primary active' if session[:usuario_tipo] != "Controladoria" %>
<%= link_to 'Voltar', fontes_de_recurso_path, class: 'btn btn-default'  %>
