<h1>Editando Tipo De Conta</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @tipo_de_conta, class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', tipos_de_conta_path, class: 'btn btn-default' %>
