<p>
  <strong>Nome:</strong>
  <%= @tipo_de_conta.nome %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @tipo_de_conta.grupo.nome %>
</p>

<%= link_to 'Editar', edit_tipo_de_conta_path(@tipo_de_conta), class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', tipo_de_contas_path, class: 'btn btn-default' %>
