<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fonte_de_recurso.nome %>
</p>

<%= link_to 'Edit', edit_fonte_de_recurso_path(@fonte_de_recurso) %> |
<%= link_to 'Back', fontes_de_recurso_path %>
