<html>
<head>
  <title> Relatórios </title>
  <meta charset="utf-8">
  <%= wicked_pdf_stylesheet_link_tag "application.css" %>
  <%= wicked_pdf_javascript_include_tag "application" %>

</head>
<body>
    <div class="container">
      <%= yield %> 
    </div>
</body>

</html>